html,
body {
	text-align: center;
	font-family: Helvetica;
	color: rgb(255, 255, 255);
	background-color: rgb(15, 15, 15);
}

.goodButton {
	background-color: #f5f5f5;
	box-shadow: 0 4px 0 #858585;
	font-family: Helvetica;
	font-size: 16px;
	height: 44px;
	width: 100px;
	margin: 5px;
	border: 0px;
	padding: 0px;
	border-radius: 12px;
	cursor: pointer;
	transform: translateY(-2px);
	font-weight: bold;
}

.goodButton:active {
	transform: translateY(2px);
	box-shadow: none;
}

.goodSelect {
	background-color: #f5f5f5;
	font-family: Helvetica;
	font-size: 16px;
	height: 40px;
	width: 200px;
	margin: 5px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
	font-weight: bold;
}

.goodSelect:focus {
	outline: none;
}

.nodeTable {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	border-collapse: collapse;
}

.even {
	background-color: rgb(25, 25, 25);
}

.odd {
	background-color: rgb(50, 50, 50);
}

.node {
	padding: 0px;
	margin: 0px;
	border: none;
	height: 20px;
	width: 20px;
	min-height: 20px;
	min-width: 20px;
}

.node:hover {
	background-color: rgb(64, 64, 64);
}

#startNode {
	background-color: rgb(0, 200, 0);
}

#startNode:hover {
	background-color: rgb(0, 255, 0);
}

#endNode {
	background-color: rgb(200, 0, 0);
}

#endNode:hover {
	background-color: rgb(255, 0, 0);
}

.frontier {
	background-color: #8cb4ff;
}

.expanded {
	background-color: #4b7afd;
}

.path {
	background-color: #FFD700;
}

.wall {
	background-color: rgb(226, 226, 226);
}