:root {
	--node-px: 20px;
  }

html,
body {
	text-align: center;
	font-family: Helvetica;
	color: rgb(255, 255, 255);
	background-color: rgb(15, 15, 15);
	margin: 0px;
}

#navbar {
	width: fit-content;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(25, 25, 25);
}

#title {
	min-width: 200px;
	margin: 0px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 5px;
	border-radius: 5px;
	color: rgba(15, 15, 15);
	background: linear-gradient(-30deg, #ee7752, #e73c7e, #761bdd, #235bd5);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	cursor: pointer;
	user-select: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#mazeControls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 40px;
	margin-right: 40px;
}

#pathfindingControls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 40px;
	margin-right: 40px;
}

.goodButton {
	background-color: #f5f5f5;
	box-shadow: 0 4px 0 #858585;
	font-family: Helvetica;
	font-size: 16px;
	height: 44px;
	min-height: 44px;
	width: 100px;
	min-width: 100px;
	margin: 5px;
	border: 0px;
	padding: 0px;
	border-radius: 12px;
	cursor: pointer;
	transform: translateY(-2px);
	font-weight: bold;
	user-select: none;
}

.goodButton:active {
	transform: translateY(2px);
	box-shadow: none;
}

#generateMazeButton {
	background-color: rgb(224, 203, 11);
    box-shadow: 0 4px 0 rgba(224, 203, 11, 0.5);
}

#generateMazeButton:active {
	box-shadow: none;
}


#startButton {
	background-color: rgb(4, 170, 109);
    box-shadow: 0 4px 0 rgba(4, 170, 109, 0.5);
}

#startButton:active {
	box-shadow: none;
}

#resetButton {
	background-color: rgb(226, 43, 43);
    box-shadow: 0 4px 0 rgba(226, 43, 43, 0.5);
}

#resetButton:active {
	box-shadow: none;
}

.goodSelect {
	background-color: rgba(0, 0, 0, 0);
	color: #f5f5f5;
	font-family: Helvetica;
	font-size: 16px;
	height: 30px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
	font-weight: bold;
	user-select: none;
	border-bottom: 2px solid #f5f5f5;
}

.goodSelect option {
	background-color: rgb(25, 25, 25);
	font-size: 16px;
	font-weight: bold;
}

.goodSelect:focus {
	outline: none;
}

#nodeTableContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.nodeTable {
	border-collapse: collapse;
	user-select: none;
}

.node {
	padding: 0px;
	margin: 0px;
	border: none;
	height: var(--node-px);
	width: var(--node-px);
	min-height: var(--node-px);
	min-width: var(--node-px);
}

.node:hover {
	background-color: rgb(226, 226, 226);
}

.even {
	background-color: rgb(25, 25, 25);
}

.odd {
	background-color: rgb(50, 50, 50);
}

.startNode {
	display: block;
	margin: auto;
	user-select: none;
	pointer-events: none;
}

.endNode {
	display: block;
	margin: auto;
	user-select: none;
	pointer-events: none;
}

.frontier {
	border-radius: 40%;
	background-color: #8cb4ff;
	transition: border-radius 0.1s ease-out;
}

.expanded {
	border-radius: 40%;
	background-color: #4b7afd;
}

.path {
	background-color: #FFD700;
}

.wall {
	background-color: rgb(226, 226, 226);
}

.horizontalSpace {
	width: 100px;
	min-width: 100px;
}

.range {
	margin-right: 70px;
}

.range input {
	appearance: none;
	width: 100px;
	height: 4px;
	border-radius: 5px;
	background-color: #f5f5f5;
	outline: none;
	cursor: pointer;
}

.range input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f5f5f5;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.range span {
	position: absolute;
	margin-left: 14px;
	width: 50px;
	height: 30px;
	background-color: #f5f5f5;
	color: #000000;
	font-weight: bold;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	transform: translateY(-3px);
	user-select: none;
}

.range span:before {
	content: '';
	position: absolute;
	border-right: 9px solid transparent;
	border-left: 9px solid transparent;
	border-bottom: 12px solid #f5f5f5;
	left: -10px;
	top: 50%;
	transform: translateY(-50%) rotate(-90deg);
}

#selectPathfindingAlgorithm {
	margin-right: 10px;
}

#stats {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
}

.statBox {
	display: grid;
	grid-template-rows: 40% 60%;
	height: 100px;
	width: 100px;
	border-radius: 10%;
	background-color: rgb(25, 25, 25);
	margin: 10px;
}

.statBoxTitle {
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
	font-size: 14px;
}

.statBoxContent {
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
	font-size: 32px;
}

.navbarInfo {
	height: 20px;
	font-weight: bold;
	font-size: 13px;
	text-align: left;
}

#mazeGenerationAlgorithmContainer {
	margin-left: 10px;
	margin-right: 10px;
}